header img {
    width: 3rem;
}

header p {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #375064 !important;
}

header ul {
    text-align: center;
}

@media (min-width: 600px) {
    #userScreen nav {
        padding: 1rem 0;
    }

    nav .hiuser {
        margin-left: 2rem;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    nav ul li {
        margin-left: 2rem;
    }

}

@media (min-width: 992px) {
    #userScreen nav {
        padding: 1rem 0;
    }

    nav .hiuser {
        margin-left: 2rem;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    nav ul li {
        margin-left: 2rem;
    }

}

@media (min-width: 1200px) {
    #userScreen nav {
        padding: 1rem 0;
    }

    nav .hiuser {
        margin-left: 2rem;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    nav ul li {
        margin-left: 2rem;
    }

}